.nav-link {
  margin-right: 8rem;
  margin-left: 3rem;
  color: gray !important;
  text-decoration: solid;
}


.navbar {
  background-color: rgba(0, 255, 255, 0.61) ;
  border: .5rem;
  border-radius: .5rem;
}

.navbar-nav {
  width: auto;
}

.navbar-brand {
  margin-left: 1rem;
  margin-top: 1.5rem
}

.navbar-text {
  color: gray !important;
}

.brand-text {
  padding-left: 0.5rem;
  font-size: auto;
}

#container {
  padding-top: 2rem;
  max-width: 50%;
  width: auto;


}

.container {
  margin-left: 0px;
}


body {
  padding-top: 20px;
  padding-bottom: 20px;

}


footer {
  width: 40%;
  margin-left: 20%;
}

.main {
  margin-left: 12.5%;
  margin-right: 12.5%;
  height: 87.5rem;
  max-height: 100;
}

.card {

  max-width: 35vw !important;
  width: auto !important;
}


.social-bar {
  margin-left: 20vw;
}

@media (max-width: 768px) {
  .side-bar {
    display: none !important;
  }
}
